<div class="modal fade" id="remove-confirmation-window" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-body" >
				
				<h4><p>{{ lang.page_manege_category_remove_question }} <span class="remove-object-name"></span>?</p></h4>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{{ lang.page_action_cancel }}</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" id="remove-confirm-object">{{ lang.page_action_yes }}</button>

			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
