<div class="col-md-3">
	<div class="bs-sidebar">
	  <ul class="nav bs-sidenav">
		  <li id="admin-opt1"><a href="/catalogue/site-management/">{{ lang.admin_options_manage_category }}</a></li>
		  <li id="admin-opt2"><a href="/catalogue/cover-management/">{{ lang.admin_options_manage_cover }}</a> </li>
		  <li id="admin-opt3"><a href="/catalogue/quality-management/">{{ lang.admin_options_manage_quality }}</a> </li>
		  <li id="admin-opt4"><a href="/catalogue/language-management/">{{ lang.admin_options_manage_language }}</a> </li>
  		  <li id="admin-opt5"><a href="">{{ lang.admin_options_manage_books }}</a> </li>
          <li id="admin-opt6"><a href="">{{ lang.admin_options_statistics }}</a> </li>
          
	  </ul>
	</div>
</div>
