<div class="row">
	<div class="col-md-10">
		<div class="alert alert-danger alert-dismissable" id="error-message">
			<button type="button" class="close close-btn">&times;</button>
			<span></span>
		</div>
		
		<div class="alert alert-info alert-dismissable" id="info-message">
			<button type="button" class="close close-btn">&times;</button>
			<span></span>
		</div>
	</div>
	<div class="col-md-2">
		<button class="btn btn-success pull-right" id="add-btn">{{ lang.page_action_add }}</button>
	</div>
</div>
