<div class="col-md-3">
	<div class="bs-sidebar">
	  <ul class="nav bs-sidenav">
		  <li id="admin-opt1"><a href="/catalogue/site-management/">Редактировать категории книг</a></li>
		  <li id="admin-opt2"><a href="/catalogue/cover-management/">Редактировать переплёт</a> </li>
		  <li id="admin-opt3"><a href="">Редактировать качество</a> </li>
		  <li id="admin-opt4"><a href="">Редактировать язык издания</a> </li>
  		  <li id="admin-opt5"><a href="">Редактировать книги</a> </li>
	  </ul>
	</div>
</div>
