<!DOCTYPE html>
<html lang="ru">
    <head>
        <title> {{ lang.page_manage_book_title }} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />

        <link href="/static/dist/css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="/static/dist/css/docs.css" rel="stylesheet" media="screen">
        <link href="/static/css/style.css" rel="stylesheet" media="screen">

    </head>
    <header class="navbar navbar-fixed-top">
        <div class="container">
            <div class="site-title">
                <a href="/catalogue">{{ lang.page_manage_book_banner }}</a>
            </div>
            <div class="row" style="text-align: right; padding:15px">
                <a href="/catalogue/site-management/">{{ lang.page_action_enter }}</a>
                <span>|</span>
                <a href="#">{{ lang.page_action_basket }} </a>
                <span class="sprite icon-basket"></span>
            </div>
        </div>
    </header>
    
    <body>
        <div class="container" >
            <div style="display:none">
                <input type="hidden" id="object-type" value="bookitem"/>
                <input type="hidden" id="remove-confirmation-object-name" value="{{ lang.page_manage_book_remove_object_name }}"/>
<!--
                <input type="hidden" id="object-exists-message" value="{{ lang.page_manage_language_add_exists_alert }}"/>
-->
                <input type="hidden" id="modal-title-add-message" value="false"/> <!-- do not open a modal window -->
                <input type="hidden" id="modal-title-edit-message" value="false"/>
                <input type="hidden" id="remove-success-message" value="{{ lang.page_manage_book_remove_success }}"/>
                <input type="hidden" id="remove-error-message" value="{{ lang.page_manage_book_remove_error }}"/>
                <input type="hidden" id="error-strong-message" value="{{ lang.page_message_error }}"/>
            </div>
            
            {% include "shared/admin-remove-confirm.html" %}
            
                        
            <div class="row">
                {% include "shared/admin-options.html" %}
                
                <div class="col-md-9 mngmt-container">
                
                    <div class="row">
                        
                        <div class="col-md-12">
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>{{ lang.page_manage_book_sub_title }}</h3>
                                </div>
                            </div>
                            
                            {% include "shared/admin-message-bar.html" %}
                            
                            
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-condensed table-hover mngmt-table">
                                        <thead>
                                            <th>{{ lang.page_manage_book_name }}</th>
                                            
                                            <th style="width:105px;">{{ lang.page_action_action }}</th>
                                        </thead>
                                        <tbody>
                                            {% if book_list %}
                                                {% for book in book_list %}  
                                                    
                                                    <tr id="row_{{ book.book_uuid }}">
                                                        <td>
                                                            <div class="row">
                                                                <div class="col-md-3" style="height: 125px;">
                                                                    <a class="thumbnail image-container">
                                                                        {% load staticfiles %}
                                                                        <img class="image-centered" src="{% static ''%}{{ book.book_images_path }}{{ book.book_thumbnail }}">
                                                                        <img class="image-centered sprite error-img no-image" src="/static/img/transparent.gif" style="display: none;">
                                                                    </a>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <h4 class="incomplete-text" title="{{ book.book_name }}">{{ book.book_name }}</h4>
                                                                    <p class="incomplete-text" title="{{ book.book_author }}">{{ book.book_author }}</p>
                                                                    <p> {{ lang.page_manage_book_add_price_label }} : 
                                                                        {{ book.book_price }}
                                                                        {{ lang.page_manage_book_add_currency_input }}
                                                                    </p>
                                                                    <p>
                                                                        {{ lang.page_manage_book_reference_num_label }} : 
                                                                        {{ book.book_uuid }}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            
                                                        </td>                                            
                                                        <td>
                                                            
                                                            <div class="btn-group">
                                                                <button class="btn btn-xs dropdown-toggle" data-toggle="dropdown" style="width:100px;">
                                                                    <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu pull-right">
                                                                    <li><a class="edit-btn" id="{{ book.book_uuid }}" href="#">{{ lang.page_action_modify }}</a></li>
                                                                    <li><a class="remove-btn" id="{{ book.book_uuid }}" href="#">{{ lang.page_action_remove }}</a></li>
                                                                </ul>
                                                            </div>
                                                
                                                        </td>
                                                    </tr>
                                            
                                                {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </body>
    
    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>

    
    <script type='text/javascript'>
        
        /*TODO: wrong location*/
        var object_type = $("#object-type").val();
        var success_msg = $("#remove-success-message").val();
        var error_msg = "<strong>" + $("#error-strong-message").val() + "</strong> " + $("#remove-error-message").val();
                
        $(document).ready(function() {
			
			$("#admin-opt5").attr('class', 'active');
            
            $("#add-btn").click(function (e) {
                document.location.href = "/catalogue/book-add-new/"                              
            });
            
            $(".edit-btn").click(function (e){
                var currentEditId = $(this).attr('id');
                console.log(currentEditId);
                document.location.href = "/catalogue/book-edit-load-data/"+currentEditId+"/"
            });
        });
        
    </script>
    <script src="/static/js/shared.js"></script>
    
</html>