<!DOCTYPE html>
<html lang="ru">
  <head>
    <title> {{lang.page_manage_cover_title}} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />

    <link href="/static/dist/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/dist/css/docs.css" rel="stylesheet" media="screen">
    <link href="/static/css/style.css" rel="stylesheet" media="screen">

  </head>
    
  <body>
   
     <header class="navbar navbar-fixed-top">
         <div class="container">
            <div class="site-title">
                <a href="/catalogue">{{ lang.page_manage_cover_banner }}</a>
            </div>
            <div class="row" style="text-align: right; padding:15px">
                <a href="/catalogue/site-management/">{{ lang.page_action_enter }}</a>
                <span>|</span>
                <a href="#">{{ lang.page_action_basket }} </a>
                <span class="sprite icon-basket"></span>
            </div>
        </div>
    </header>
   
    <div class="container" >
        
        <div style="display:none">
            <input type="hidden" id="object-type" value="bookattribute"/>
            <input type="hidden" id="remove-confirmation-object-name" value="{{ lang.page_manage_cover_remove_object_name }}"/>
            <input type="hidden" id="object-exists-message" value="{{ lang.page_manage_cover_add_exists_alert }}"/>
            <input type="hidden" id="modal-title-add-message" value="{{ lang.page_manage_cover_modal_title_add }}"/>
            <input type="hidden" id="modal-title-edit-message" value="{{ lang.page_manage_cover_modal_title_edit }}"/>
            <input type="hidden" id="remove-success-message" value="{{ lang.page_manage_cover_remove_success }}"/>
            <input type="hidden" id="remove-error-message" value="{{ lang.page_manage_cover_remove_error }}"/>
            <input type="hidden" id="error-strong-message" value="{{ lang.page_message_error }}"/>
        </div>
        
        
        {% include "shared/admin-remove-confirm.html" %}


        <div class="modal fade" id="modify-window" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <form action="/catalogue/insert-book-attribute/" method="post">
                        <div class="modal-body" >
                            
                            <div style="display:none">
                                <input type="hidden" name="book-attribute-id" id="edit-id" value=""/>
                                <input type="hidden" name="attribute-type" id="attribute-type" value="cover"/><!-- TODO: define in costants? -->
                            </div>
                            
                            <p><input type="text" class="form-control no-repeat-field" name="book-attribute-name-txt" placeholder="{{ lang.page_manage_cover_add_name_input }}" maxlength="50" data-toggle="popover" data-content data-placement="top" autocomplete="off" required></p>
                            
                            <p style="display:none"><textarea class="form-control" name="book-attribute-desc-txt"></textarea></p>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ lang.page_action_cancel }}</button>
                            <button type="submit" class="btn btn-primary" id="save-object">{{ lang.page_action_save }}</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
            
        
        <div class="row">
            
            
			{% include "shared/admin-options.html" %}
              
            
        
            <div class="col-md-9 mngmt-container">
                
                <div class="row">
                    
                    <div class="col-md-12">
                        
                        <div class="row">
                            <div class="col-md-12">
                                <h3>{{ lang.page_manage_cover_sub_title }}</h3>
                            </div>
                        </div>
                        
                        {% include "shared/admin-message-bar.html" %}
                                                
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-condensed table-hover mngmt-table">
                                    <thead>
                                        <th>{{ lang.page_manage_cover_name }}</th>
                                        
                                        <th style="width:105px;">{{ lang.page_action_action }}</th>
                                    </thead>
                                    <tbody>
                                        {% if book_cover_list %}
                                            {% for cover in book_cover_list %}  
                                                <tr id="row_{{ cover.id }}">
                                                    <td>{{ cover.attribute_name }}</td>                                            
                                                    <td>
                                                        
                                                        <div class="btn-group">
                                                            <button class="btn btn-xs dropdown-toggle" data-toggle="dropdown" style="width:100px;">
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu pull-right">
                                                                <li><a class="edit-btn" id="{{ cover.id }}" href="#">{{ lang.page_action_modify }}</a></li>
                                                                <li><a class="remove-btn" id="{{ cover.id }}" href="#">{{ lang.page_action_remove }}</a></li>
                                                            </ul>
                                                        </div>
                                            
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><!--row-->  
            </div>
            
        </div><!--row-->
    </div>
      
      
    </body>

    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>

    
    <script type='text/javascript'>
        
        /*TODO: wrong location*/
        var object_type = $("#object-type").val();
        var success_msg = $("#remove-success-message").val();
        var error_msg = "<strong>" + $("#error-strong-message").val() + "</strong> " + $("#remove-error-message").val();
                
        $(document).ready(function() {
			
            
            
			$("#admin-opt2").attr('class', 'active');
            
        });
        
    </script>

    
  
    <script src="/static/js/shared.js"></script>
    
</html>
