<!DOCTYPE html>
<html lang="ru">
    <head>
        <title> 
            {% if book_item %}
                {{ lang.page_manage_book_title }} - {{ lang.page_manage_book_title_edit}}
            {% else %}
                {{ lang.page_manage_book_title }} - {{ lang.page_manage_book_title_add}}
            {% endif %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />

        <link href="/static/dist/css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="/static/dist/css/docs.css" rel="stylesheet" media="screen">
        <link href="/static/css/style.css" rel="stylesheet" media="screen">

    </head>
    <header class="navbar navbar-fixed-top">
        <div class="container">
            <div class="site-title">
                <a href="/catalogue">{{ lang.page_manage_book_banner }}</a>
            </div>
            <div class="row" style="text-align: right; padding:15px">
                <a href="/catalogue/site-management/">{{ lang.page_action_enter }}</a>
                <span>|</span>
                <a href="#">{{ lang.page_action_basket }} </a>
                <span class="sprite icon-basket"></span>
            </div>
        </div>
    </header>
    
    <body>
        <div class="container" >
            <div style="display:none">
                <input type="hidden" id="object-type" value="bookitem"/>
            </div>
                                    
            <div class="row">
                {% include "shared/admin-options.html" %}
                
                <div class="col-md-9 mngmt-container">
                
                    <div class="row">
                        
                        <div class="col-md-12">
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>
                                        {% if book_item %}
                                            {{ lang.page_manage_book_title_edit}}
                                        {% else %}
                                            {{ lang.page_manage_book_title_add}}
                                        {% endif %}
                                    </h3> 
                                </div>
                            </div>
                            
                            <div class="add-book-form-container">
                            
                                <form action="/catalogue/insert-book/" enctype="multipart/form-data"  method="post">
                                
                                    <div style="display:none">
                                        <input type="hidden" name="book-id" id="edit-id" value="{{ book_item.book_uuid }}"/>
                                        <input type="hidden" name="attribute-type" id="attribute-type" value="language"/><!-- TODO: define in costants? -->
                                    </div>
                                    
                                    <p><input type="text" class="form-control" name="book-name-txt" placeholder="{{ lang.page_manage_book_add_name_input }}" maxlength="50" data-toggle="popover" data-content data-placement="top" autocomplete="off" value="{{ book_item.book_name }}" required></p>
                                    <p><input type="text" class="form-control" name="book-author-txt" placeholder="{{ lang.page_manage_book_add_author_input }}" maxlength="50" data-toggle="popover" data-content data-placement="top" autocomplete="off" value="{{ book_item.book_author }}" required></p>
                                    
                                    <p><textarea class="form-control" name="book-desc-txt" placeholder="{{ lang.page_manage_book_add_desc_input }}" maxlength="500" rows="3"></textarea></p>
                                    
                                    
                                    <p><div class="row">
                                        <div class="col-md-3" style="padding-top: 5px;">
                                            {{ lang.page_manage_book_add_name_chose_category }}:
                                        </div>
                                        <div class="col-md-9">
                                            <select class="form-control" name="category-select" id="category-select" >
                                                {% if book_category_list %}
                                                    {% for category in book_category_list %}  
                                                        {% if book_item.book_category == category %}
                                                            <option id="category_option_{{ category.id }}" value="{{ category.id }}" selected>{{ category.category_name }}</option>
                                                        {% else %}
                                                            <option id="category_option_{{ category.id }}" value="{{ category.id }}">{{ category.category_name }}</option>
                                                        {% endif%}
                                                    {% endfor %}
                                                {% endif %}
                                            </select>                                        
                                        </div>
                                    </div></p>
                                    <p><div class="row">
                                        <div class="col-md-3" style="padding-top: 5px;">
                                            {{ lang.page_manage_book_add_name_chose_cover }}:
                                        </div>
                                        <div class="col-md-9">
                                            <select class="form-control" name="cover-select" id="cover-select" >
                                                {% if book_cover_list %}
                                                    {% for cover in book_cover_list %}  
                                                        {% if book_item.book_cover == cover %}
                                                            <option id="cover_option_{{ cover.id }}" value="{{ cover.id }}" selected>{{ cover.attribute_name }}</option>
                                                        {% else %}
                                                            <option id="cover_option_{{ cover.id }}" value="{{ cover.id }}">{{ cover.attribute_name }}</option>
                                                        {% endif%}  
                                                    {% endfor %}
                                                {% endif %}
                                            </select>                                       
                                        </div>
                                    </div></p>
                                    <p><div class="row">
                                        <div class="col-md-3" style="padding-top: 5px;">
                                            {{ lang.page_manage_book_add_name_chose_quality }}:
                                        </div>
                                        <div class="col-md-9">
                                            <select class="form-control" name="quality-select" id="quality-select" >
                                                {% if book_quality_list %}
                                                    {% for quality in book_quality_list %}
                                                        {% if book_item.book_quality == quality %}
                                                            <option id="quality_option_{{ quality.id }}" value="{{ quality.id }}" selected>{{ quality.attribute_name }}</option>
                                                        {% else %}
                                                            <option id="quality_option_{{ quality.id }}" value="{{ quality.id }}">{{ quality.attribute_name }}</option>
                                                        {% endif%}
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div></p>
                                    <p><div class="row">
                                        <div class="col-md-3" style="padding-top: 5px;">
                                            {{ lang.page_manage_book_add_name_chose_language }}:
                                        </div>
                                        <div class="col-md-9">
                                             <select class="form-control" name="language-select" id="language-select" >
                                                {% if book_language_list %}
                                                    {% for language in book_language_list %}  
                                                        {% if book_item.book_language == language %}
                                                            <option id="language_option_{{ language.id }}" value="{{ language.id }}" selected>{{ language.attribute_name }}</option>
                                                        {% else %}
                                                            <option id="language_option_{{ language.id }}" value="{{ language.id }}">{{ language.attribute_name }}</option>
                                                        {% endif%}
                                                    {% endfor %}
                                                {% endif %}
                                            </select>                                      
                                        </div>
                                    </div></p>
                    
                                    <p><input type="text" class="form-control" name="book-price-txt" placeholder="{{ lang.page_manage_book_add_price_input }} {{ lang.page_manage_book_add_currency_input }} " maxlength="10" data-toggle="popover" data-content data-placement="top" autocomplete="off" value="{{ book_item.book_price }}" required> </p>
                    
                                    <p><input type="text" class="form-control" name="book-discount-txt" placeholder="{{ lang.page_manage_book_add_discount_input }} {{ lang.page_manage_book_add_currency_input }} " maxlength="10" value="{{ book_item.book_discount }}" autocomplete="off"> </p>
                    
                                    <p><div class="row">
                                        <div class="col-md-5">
                                            {{ lang.page_manage_book_add_priory_check }}
                                        </div>
                                        
                                        <div class="col-md-7">
                                            
                                            {% if book_item.is_notable %}
                                                <input type="checkbox" name="book-is-with-priority" checked>
                                            {% else %}
                                                <input type="checkbox" name="book-is-with-priority">
                                            {% endif%}
                                            
                                            
                                        </div>
                                    </div></p>
                
                                    <!-- TODO: show the list of loaded images -->
                                                    
                                    <p><div class="row">
                                        <div class="col-md-5">
                                            {{ lang.page_manage_book_add_upload_files }}
                                        </div>
                                        
                                        <div class="col-md-7">
                                            <input type="file" name="file" multiple>
                                        </div>
                                    </div></p>
                                        
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" id="back">{{ lang.page_action_cancel }}</button>
                                        <button type="submit" class="btn btn-primary" id="save-object">{{ lang.page_action_save }}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </body>
    
    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>

    
    <script type='text/javascript'>
        
        /*TODO: wrong location*/
        var object_type = $("#object-type").val();
        var success_msg = $("#remove-success-message").val();
        var error_msg = "<strong>" + $("#error-strong-message").val() + "</strong> " + $("#remove-error-message").val();
                
        $(document).ready(function() {
			
			$("#admin-opt5").attr('class', 'active');
            
            $("#back").click(function (e) {
                window.location.href = "/catalogue/book-management/"
            });
            
        });
        
    </script>
    <script src="/static/js/shared.js"></script>
    
</html>