<!DOCTYPE html>
<html>
  <head>
    <title>Название твоего сайта</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />

    
    <!-- Bootstrap -->
    <link href="/static/dist/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/dist/css/docs.css" rel="stylesheet" media="screen">
    <link href="/static/css/style.css" rel="stylesheet" media="screen">

  </head>
    
  <body>
   
     <header class="navbar navbar-fixed-top">
         <div class="container">
            <div class="site-title">
                <a href="/catalogue">Название сайта</a>
            </div>
            <div class="row" style="text-align: right; padding:15px">
                <a href="/catalogue/site_management/">Войти</a>
                <span>|</span>
                <a href="#">Корзина (1) </a>
                <span class="sprite icon-basket"></span>
            </div>
        </div>
    </header>
   
    <div class="container" >
        
        <div style="display:none">
            <input type="hidden" id="remove-confirmation-object-name" value="категорию"/>
        </div>
        
        {% include "shared/admin-remove-confirm.html" %}


        <div class="modal fade" id="modify-window" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <form action="/catalogue/insert_book_cathegory/" method="post">
                        <div class="modal-body" >
                            
                                <p><input type="text" class="form-control" name="book-cathegory-name-txt" placeholder="Название категории" maxlength="50" required></p>
                                <p><textarea class="form-control" name="book-cathegory-desc-txt" placeholder="Краткое описание категории" maxlength="500" rows="3"></textarea></p>
                                <p>Выберете главную категорию:</p>
                                <p>
                                    <select class="form-control" name="super-cathegory-select" id="super-cathegory-select" >
                                        <option id="null"></option>
                                        {% if book_cathegory_list %}
                                            {% for cathegory in book_cathegory_list %}  
                                                <option id="cathegory_option_{{ cathegory.id }}" value="{{ cathegory.id }}">{{ cathegory.cathegory_name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </p>
                                <h6>Если данная категория является главной, то оставьте это поле белым.</h6>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                            <button type="submit" class="btn btn-primary" id="save-object">Сохранить</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        
        
        <div class="row">
            
            
			{% include "shared/admin-options.html" %}
              
            
        
            <div class="col-md-9 mngmt-container">
                
                <div class="row">
                    
                    <div class="col-md-12">
                        
                        <h3>Редактирование категорий книг</h3>
                        
                        {% include "shared/admin-message-bar.html" %}
                                                
                        
                        <table class="table table-condensed table-hover mngmt-table">
                            <thead>
                                <th>Название категории</th>
                                <th style="width:40%">Описание категории</th>
                                <th>Главная категория</th>
                                <th style="width:105px;">Действие</th>
                            </thead>
                            <tbody>
                                
                                {% if book_cathegory_list %}
                                    {% for cathegory in book_cathegory_list %}  
                                        <tr id="row_{{ cathegory.id }}">
                                            <td>{{ cathegory.cathegory_name }}</td>
                                            <td>{{ cathegory.cathegory_description }}</td>
                                            <td>
                                                {{ cathegory.sub_cathegory_of|default_if_none:"это главная категория" }}
                                            </td>
                                            <td>
                                                
                                                <div class="btn-group">
                                                    <button class="btn btn-xs dropdown-toggle" data-toggle="dropdown" style="width:100px;">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li><a class="edit-btn" id="{{ cathegory.id }}" href="#">изменить</a></li>
                                                        <li><a class="remove-btn" id="{{ cathegory.id }}" href="#">удалить</a></li>
                                                    </ul>
                                                </div>
                                    
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                           </table>
                    </div>
                </div><!--row-->  
            </div>
            
            
        </div><!--row-->
    </div>
      
      
    </body>

    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
 
    <script type='text/javascript'>
        
        var modal_title = "новую категорию";
        var success_msg = "Категория была успешно удалена.";
        var error_msg = "<strong>Ошибка!</strong> Не удалось удалить категорию.";
        
        var object_type = "bookCathegory"; //object type to perform operation(ie: cathegory,book,quality)

        

        
        
        $(document).ready(function() {
			
			$("#admin-opt1").attr('class', 'active');
            
        });
        
    </script>

    
  
    <script src="/static/js/shared.js"></script>
    
</html>
